In [3]:
input_list=[1,7,3,4]

In [14]:
lst = [input_list[x]<input_list[x+1] for x in list(range(len(input_list)-1))]
print(lst)
if False in lst:
    print('no')
else:
    print('yes')

[True, False, True]
no

In [9]:
list(range(len(input_list)-1))

[0, 1, 2]

In [12]:
input_list[1]

7

In [ ]:
n=1234

from functools import reduce

result = [x for x in (list(str(n)))]
print(result)

In [18]:
import pandas as pd 
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/B5yO4wkEbQk4dVGn8140yV1bx/insurance_encoded.csv")

In [19]:
df.head()

,Unnamed: 0,age,sex,bmi,children,smoker,region,charges,BMI_group
0,0,19,0,27.900,0,1,3,16884.92400,3
1,1,18,1,33.770,1,0,2,1725.55230,2
2,2,28,1,33.000,3,0,2,4449.46200,2
3,3,33,1,22.705,0,0,1,21984.47061,1
4,4,32,1,28.880,0,0,1,3866.85520,3

In [22]:
print(round(df.smoker.corr(df.bmi),4))
print(round(df.smoker.corr(df.age),4))
print(round(df.smoker.corr(df.charges),4))

0.0038
-0.025
0.7873

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler

train = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/72Boxj99702g8BwK5powGz1g0/insurance_training.csv")

In [24]:
train.head()

,Unnamed: 0,age,sex,bmi,children,smoker,region,BMI_group,charges
0,560,46,0,19.95,2,0,1,1,9193.83850
1,1285,47,0,24.32,0,0,0,1,8534.67180
2,1142,52,0,24.86,0,0,2,1,27117.99378
3,969,39,0,34.32,5,0,2,2,8596.82780
4,486,54,0,21.47,3,0,1,1,12475.35130

In [26]:
train.smoker.value_counts()

0    850
1    220
Name: smoker, dtype: int64

In [31]:
train.charges.values.reshape(-1,1).shape

(1070, 1)

In [56]:
import numpy as np
import pandas as pd

# Read training data
train = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/72Boxj99702g8BwK5powGz1g0/insurance_training.csv")

# Read test data
test = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/gxVjwe1k3YEogYK23O8PPnXod/insurance_test.csv")

# Linear regression
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

y_train = train.charges
X_train = train.smoker
X_train_sm = sm.add_constant(X_train)



model = sm.OLS(y_train,X_train_sm).fit()


X_test = test.smoker
X_test_sm = sm.add_constant(X_test)
y_test_pred = model.predict(X_test_sm)

#THESE TWO LINES SHOULD NOT BE EDITED
test["predicted_charges"]=y_test_pred
test.to_csv("~/predictions.csv")

In [58]:
train.head()

,Unnamed: 0,age,sex,bmi,children,smoker,region,BMI_group,charges
0,560,46,0,19.95,2,0,1,1,9193.83850
1,1285,47,0,24.32,0,0,0,1,8534.67180
2,1142,52,0,24.86,0,0,2,1,27117.99378
3,969,39,0,34.32,5,0,2,2,8596.82780
4,486,54,0,21.47,3,0,1,1,12475.35130

In [59]:
train = train.iloc[:,1:]

In [62]:
train.BMI_group.value_counts()

2    558
3    304
1    188
4     13
0      7
Name: BMI_group, dtype: int64

In [63]:
import numpy as np
import pandas as pd

# Read training data
train = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/QNdMORzykKkG4L3WQ17Xx53o3/insurance_training.csv")

# Read test data
test = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/Mq5p8YpQoz3KbWJRE4Mey1Yoq/insurance_test.csv")

# Linear regression
#import required libraries

# Write the output
test["predicted_charges"]=y_test_pred
test.to_csv("/code/output/predictions.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/code/output/predictions.csv'

In [64]:
train.head()

,Unnamed: 0,age,sex,bmi,children,smoker,region,BMI_group,charges
0,560,46,0,19.95,2,0,1,1,9193.83850
1,1285,47,0,24.32,0,0,0,1,8534.67180
2,1142,52,0,24.86,0,0,2,1,27117.99378
3,969,39,0,34.32,5,0,2,2,8596.82780
4,486,54,0,21.47,3,0,1,1,12475.35130